<!DOCTYPE html>
<html>
<head>
  <link rel='stylesheet' href='style.css' />
  <title>Knockoffs</title>
</head>
<body>
  <div class='grid-container'>
    <header class='header'>
      <div class='brand'>
        <a href='index.html'>Knockoffs</a>
      </div>
      <div class='header-links'>
        <a href='cart.html'>Cart</a>
        <a href='signin.html'>Sign In</a>
      </div>
    </header>
    <main class='main'>
      <ul class='products'>

        <li>
          <div class='product'>
            <img class='product-image' src='images/iTap.webp' alt='product' />
            <div class='product-name'>iTap</div>
            <div class='product-brand'>Apricot</div>
            <div class='product-price'>$549</div>
            <div class='product-rating'>3.5 Stars (15 Reviews)</div>
          </div>
        </li>

        <li>
          <div class='product'>
            <img class='product-image' src='images/iTap.webp' alt='product image' />
            <div class='product-name'>iTap</div>
            <div class='product-brand'>Apricot</div>
            <div class='product-price'>$549</div>
            <div class='product-rating'>3.5 Stars (15 reviews)</div>
          </div>
        </li>

        <li>
          <div class='product'>
            <img class='product-image' src='images/iTap.webp' alt='product image' />
            <div class='product-name'>iTap</div>
            <div class='product-brand'>Apricot</div>
            <div class='product-price'>$549</div>
            <div class='product-rating'>3.5 Stars (15 reviews)</div>
          </div>
        </li>

        <li>
          <div class='product'>
            <img class='product-image' src='images/iTap.webp' alt='product image' />
            <div class='product-name'>iTap</div>
            <div class='product-brand'>Apricot</div>
            <div class='product-price'>$549</div>
            <div class='product-rating'>3.5 Stars (15 reviews)</div>
          </div>
        </li>

        <li>
          <div class='product'>
            <img class='product-image' src='images/iTap.webp' alt='product image' />
            <div class='product-name'>iTap</div>
            <div class='product-brand'>Apricot</div>
            <div class='product-price'>$549</div>
            <div class='product-rating'>3.5 Stars (15 reviews)</div>
          </div>
        </li>

        <li>
          <div class='product'>
            <img class='product-image' src='images/iTap.webp' alt='product image' />
            <div class='product-name'>iTap</div>
            <div class='product-brand'>Apricot</div>
            <div class='product-price'>$549</div>
            <div class='product-rating'>3.5 Stars (15 reviews)</div>
          </div>
        </li>

        <li>
          <div class='product'>
            <img class='product-image' src='images/iTap.webp' alt='product image' />
            <div class='product-name'>iTap</div>
            <div class='product-brand'>Apricot</div>
            <div class='product-price'>$549</div>
            <div class='product-rating'>3.5 Stars (15 reviews)</div>
          </div>
        </li>

      </ul>
    </main>
    <footer class='footer'>
      All right reserved.
    </footer>
  </div>
</body>
</html>