<!DOCTYPE html>
<html>
<head>
  <link rel='stylesheet' href='style.css' />
  <title>Knockoffs</title>
</head>
<body>
  <div class='grid-container'>
    <header class='header'>
      <div class='brand'>
        <button onclick='openMenu()'>&#9776;</button>
        <a href='index.html'>Knockoffs</a>
      </div>
      <div class='header-links'>
        <a href='cart.html'>Cart</a>
        <a href='signin.html'>Sign In</a>
      </div>
    </header>
    <aside class='sidebar'>
      <h3>Categories</h3>
      <button class='sidebar-close-button' onclick='closeMenu()'>X</button>
      <ul>
        <li>
          <a href='index.html'>Food</a>
        </li>
        <li>
          <a href='index.html'>Clothes</a>
        </li>
        <li>
          <a href='index.html'>Electronics</a>
        </li>
      </ul>
    </aside>
    <main class='main'>
      <ul class='products'>

        <li>
          <div class='product'>
            <img class='product-image' src='images/iTap.webp' alt='product' />
            <div class='product-name'>iTap</div>
            <div class='product-brand'>Apricot</div>
            <div class='product-price'>$549</div>
            <div class='product-rating'>3.5 Stars (15 Reviews)</div>
          </div>
        </li>

        <li>
          <div class='product'>
            <img class='product-image' src='images/iTap.webp' alt='product image' />
            <div class='product-name'>iTap</div>
            <div class='product-brand'>Apricot</div>
            <div class='product-price'>$549</div>
            <div class='product-rating'>3.5 Stars (15 reviews)</div>
          </div>
        </li>

        <li>
          <div class='product'>
            <img class='product-image' src='images/iTap.webp' alt='product image' />
            <div class='product-name'>iTap</div>
            <div class='product-brand'>Apricot</div>
            <div class='product-price'>$549</div>
            <div class='product-rating'>3.5 Stars (15 reviews)</div>
          </div>
        </li>

        <li>
          <div class='product'>
            <img class='product-image' src='images/iTap.webp' alt='product image' />
            <div class='product-name'>iTap</div>
            <div class='product-brand'>Apricot</div>
            <div class='product-price'>$549</div>
            <div class='product-rating'>3.5 Stars (15 reviews)</div>
          </div>
        </li>

        <li>
          <div class='product'>
            <img class='product-image' src='images/iTap.webp' alt='product image' />
            <div class='product-name'>iTap</div>
            <div class='product-brand'>Apricot</div>
            <div class='product-price'>$549</div>
            <div class='product-rating'>3.5 Stars (15 reviews)</div>
          </div>
        </li>

        <li>
          <div class='product'>
            <img class='product-image' src='images/iTap.webp' alt='product image' />
            <div class='product-name'>iTap</div>
            <div class='product-brand'>Apricot</div>
            <div class='product-price'>$549</div>
            <div class='product-rating'>3.5 Stars (15 reviews)</div>
          </div>
        </li>

        <li>
          <div class='product'>
            <img class='product-image' src='images/iTap.webp' alt='product image' />
            <div class='product-name'>iTap</div>
            <div class='product-brand'>Apricot</div>
            <div class='product-price'>$549</div>
            <div class='product-rating'>3.5 Stars (15 reviews)</div>
          </div>
        </li>

      </ul>
    </main>
    <footer class='footer'>
      All right reserved.
    </footer>
  </div>

  <script>
    function openMenu() {
      document.querySelector('.sidebar').classList.add('open');
    }

    function closeMenu() {
      document.querySelector('.sidebar').classList.remove('open');
    }
  </script>
</body>
</html>